.dialogWindow {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 0;
  margin-bottom: 30vh;
}

.message {
  margin-bottom: 10px;
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.message.FromUser {
  background-color: #598392;
  align-self: flex-end;
}

.message.FromAssistant {
  background-color: #aec3b0;
  align-self: flex-start;
}
